@charset "utf-8";

img { border: 0px; }
#banner { margin: 30px auto 0px auto; padding: 0px; width: 205px; height: 160px; }
.slides {
	margin: 0px auto;
	width: 205px;
	height: 160px;
	overflow: hidden;
	position: relative;
	border: 5px solid #FFF;
}
.slide-pic { margin: 0px; padding: 0px; width: 205px; overflow: hidden; list-style: none; }
    .slide-pic img { width: 205px; height: 160px; }
    .slide-pic li { display: none; }
        .slide-pic li.cur { display: block; }
.slide-li {
	margin: 0px;
	padding: 0px;
	left: 0px;
	bottom: 0px;
	position: absolute;
	width: 41px;
}
    .slide-li li {
	margin: 0px;
	padding: 0px;
	width: 0px;
	height: 10px;
	float: left;
	overflow: hidden;
	list-style: none;
}
    .slide-li a { width: 0px; height: 0px; color: #000; font-size: 12px; display: block; }
        .slide-li a:hover { color: #F00; text-decoration: none; }
.op li { background: #999999; filter: alpha(opacity=60); opacity: 0.6; }
    .op li.cur { background: #666666; }
.slide-txt span { display: none; }
