#Vistacoffee {
    position: absolute;
    width: 100%;
    height: 624px;
    z-index: 1;
    left: 0px;
    top: 0px;
}

#Vistacoffee #title {
    height: 100px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/logo.jpg);
}

#Vistacoffee #title #dhl_ {
    height: 25px;
    width: 320px;
    padding-top: 65px;
    padding-left: 95px;
}

#Vistacoffee #main {
    height: 400px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #9c6427;
    line-height: 30px;
}

.a-Vistacoffee {
    font-family: "微软雅黑";
    font-size: 60px;
    color: #9c6427;
}

#Vistacoffee #footer {
    height: 60px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    background-color: #402d27;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #ceae99;
    text-align: center;
    line-height: 60px;
    margin-top: 40px;
}

#Vistacoffee #title #dhl_ #dhl01 {
    height: 25px;
    width: 80px;
    border: 1px solid #ceae99;
    border-radius: 25px;
    margin-left: 15px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #ceae99;
    text-align: center;
    line-height: 25px;
    float: left;
}

a:link {
    color: #ceae99;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #ceae99;
}

a:hover {
    text-decoration: none;
    color: #9c6427;
}

a:active {
    text-decoration: none;
}